* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ADD8E6;
    padding: 1em 0;
    width: 100%;
    min-height: auto;
}

header .link{
    flex-grow: 1;
}

footer{
    background-color: #23272A;
    width: 100%;
    min-height: 600px;
    padding-top: 15px;
}

.container{
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.d-flex{
    display: flex;
}

.direction{
    flex-direction: row-reverse;
}

.container.nav.d-flex{
    background-color: #DAA520;
    padding: 0;
    min-height: 40px
} 

.logo,.link,.login{
    min-width: 200px;
    min-height: 40px;
    border: 1px dashed black;
}


.header-jumbo{
    background-color: #00008B;
    min-height: 450px;
    padding: 1em 0;
}

.header-center{
    width: 700px;
    height: 350px;
    border: 1px dashed black;
    background-color: #ee82ee;
}

.header-jumbo > div{
    justify-content: center;
    align-items: center;
}

.section-white{
    width: 100%;
    min-height: 450px;
    padding: 3em 0;
}

.section-white > div{
    min-height: 400px;
    border: 1px dashed black;
    padding: 0;
}

.section-grey{
    width: 100%;
    min-height: 450px;
    padding: 3em 0;
    background-color: #D3D3D3;
}

.section-grey > div{
    min-height: 400px;
    border: 1px dashed black;
    padding: 0;
}

.col1,.col2{
    border: 1px dashed black;
}

.col1{
    background-color: #1E90FF;
    flex-basis: 60%;
}

.col2{
    background-color: #FFC0CB;
    flex-grow: 1;
}

.last-section-grey{
    width: 100%;
    min-height: 800px;
    padding: 3em 0;
    background-color: #D3D3D3;
}

.last-section-grey > div{
    background-color: #228B22;
    min-height: 700px;
    padding: 0;
    border: 3px dashed black;
}

.container.d-flex.last-info{
    border: 3px dashed white;
    min-height: 450px;
    padding: 0;
}

.left{
    background-color: #F08080;
    flex-basis: 30%;
    border: 3px dashed black;
}

.right{
    background-color: #20B2AA;
}

.block1,.block2,.block3,.block4{
    min-width: 167px;
    min-height: 450px;
    border: 1px dashed white; 
}







