* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.d-flex{
    display: flex;
}

header{
    background-color: #ADD8E6;
    padding: 1em 0;
    min-height: auto;
}

.container.nav.d-flex{
    background-color: #DAA520;
    padding: 0;
    min-height: 40px
} 

.container div{
    min-width: 200px;
    min-height: 40px;
    border: 1px dashed black;
}

.container div:nth-child(2){
    flex-grow: 1;
}

.header-jumbo{
    background-color: #00008B;
    min-height: 450px;
    padding: 1em 0;
}

.header-center{
    width: 700px;
    height: 350px;
    border: 1px dashed black;
    background-color: #ee82ee;
}

.container.d-flex{
    justify-content: center;
    align-items: center;
}







